/* reset code */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article,aside, details,figcaption, figure, footer, header, hgroup,main, nav, section, summary{	margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 14px;font-family: inherit;vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
html,button,input,select,textarea {color: #38393a;font-family: "HelvNeuLt", Verdana, Arial;}
body {margin: 0;font-size: 100%;line-height: 1.2em;font-family: "HelvNeuLt", Verdana, Arial}
:focus{outline: 0;}
a{text-decoration:none;}
a:active,a:hover{outline: 0;}
dl,menu,ol,ul,dt,li,dd {margin: 0;	list-style:none; list-style-image:none;}
img {border: 0;-ms-interpolation-mode: bicubic;vertical-align:middle;}
form {margin: 0;}
button,input,select,textarea {font-size: 16px;margin: 0;vertical-align: top;*vertical-align: middle;}
input[type="checkbox"],input[type="radio"] {padding: 0;}
.hide {display: none;}
.invisible {visibility: hidden;}
.clearfix:before,.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

/* standard stuff code */
body{background:#333;}
.lumiaWrapper{background:url(../img/presentation/lumia-bg.png) no-repeat left top; padding: 150px 100px 150px 110px; height: 695px; width: 425px;}

/* grid styling */
.tileWindow{float:left; margin:5px;}

/* tiles code */
img{width:100%;}
.tileWindow,.liveTile{width:202px; height:202px;}
.tileWindow{position:relative;overflow:hidden;display:block;}
.peekTile,.mainTile{position:absolute;}
.peekTile{left:0; top:-100%;}
.mainTile{left:0; top:0;}
.relativeText{position:relative; display:table-cell;padding:0 10px;margin:10px 0;vertical-align:bottom;height:192px; width:192px;color:#fff; font-family:Segoe UI, Verdana, Arial; font-size:30px;line-height:30px;}
.peekTile{background:#13419F;}

.tileWindow.fullWidth, .tileWindow.fullWidth .liveTile{width:414px}
.tileWindow.fullWidth .relativeText{width:404px}
.tileWindow.fullWidth .mainTile{height:202px;overflow:hidden}
/* keyframe animation  */

/* livepeek default */ 	
@-webkit-keyframes livePeek {0%{top:-100%;}10%{top:-100%;}20%{top:-50%;}40%{top:-50%;}50%{top:0px;}80%{top:0px;}90%{top:-100%;}100% {top:-100%;}}
@-moz-keyframes livePeek {0%{top:-100%;}10%{top:-100%;}20%{top:-50%;}40%{top:-50%;}50%{top:0px;}80%{top:0px;}90%{top:-100%;}100% {top:-100%;}}
@-o-keyframes livePeek {0%{top:-100%;}10%{top:-100%;}20%{top:-50%;}40%{top:-50%;}50%{top:0px;}80%{top:0px;}90%{top:-100%;}100% {top:-100%;}}
@keyframes livePeek {0%{top:-100%;}10%{top:-100%;}20%{top:-50%;}40%{top:-50%;}50%{top:0px;}80%{top:0px;}90%{top:-100%;}100% {top:-100%;}}

/* livemain default */
@-webkit-keyframes liveMain {0%{top:0px;}10%{top:0px;}20%{top:50%;}40%{top:50%;}50%{top:100%;}80%{top:100%;}90%{top:0px;}100% {top:0px;}}
@-moz-keyframes liveMain {0%{top:0px;}10%{top:0px;}20%{top:50%;}40%{top:50%;}50%{top:100%;}80%{top:100%;}90%{top:0px;}100% {top:0px;}}
@-o-keyframes liveMain {0%{top:0px;}10%{top:0px;}20%{top:50%;}40%{top:50%;}50%{top:100%;}80%{top:100%;}90%{top:0px;}100% {top:0px;}}
@keyframes liveMain {0%{top:0px;}10%{top:0px;}20%{top:50%;}40%{top:50%;}50%{top:100%;}80%{top:100%;}90%{top:0px;}100% {top:0px;}}

/* initialize animation default*/
.peekTile {-webkit-animation: livePeek 10s infinite;-moz-animation: livePeek 10s infinite;-o-animation:livePeek 10s infinite;animation:livePeek 10s infinite;}
.mainTile {-webkit-animation: liveMain 10s infinite;-moz-animation: liveMain 10s infinite;-o-animation:liveMain 10s infinite;animation:liveMain 10s infinite;}

/* livepeek peekDelay20 */ 	
@-webkit-keyframes peekDelay20 {0%{top:0px;}10%{top:0px;}20%{top:-100%;}40%{top:-100%;}50%{top:-50%;}80%{top:-50%}90%{top:0;}100% {top:0;}} 
@-moz-keyframes peekDelay20 {0%{top:0px;}10%{top:0px;}20%{top:-100%;}40%{top:-100%;}50%{top:-50%;}80%{top:-50%}90%{top:0;}100% {top:0;}} 
@-o-keyframes peekDelay20 {0%{top:0px;}10%{top:0px;}20%{top:-100%;}40%{top:-100%;}50%{top:-50%;}80%{top:-50%}90%{top:0;}100% {top:0;}} 
@keyframes peekDelay20 {0%{top:0px;}10%{top:0px;}20%{top:-100%;}40%{top:-100%;}50%{top:-50%;}80%{top:-50%}90%{top:0;}100% {top:0;}}

/* livemain liveDelay20 */
@-webkit-keyframes liveDelay20 {0%{top:100%;}10%{top:100%;}20%{top:0;}40%{top:0;}50%{top:50%;}80%{top:50%;}90%{top:100%;}100% {top:100%;}}
@-moz-keyframes liveDelay20 {0%{top:100%;}10%{top:100%;}20%{top:0;}40%{top:0;}50%{top:50%;}80%{top:50%;}90%{top:100%;}100% {top:100%;}}
@-o-keyframes liveDelay20 {0%{top:100%;}10%{top:100%;}20%{top:0;}40%{top:0;}50%{top:50%;}80%{top:50%;}90%{top:100%;}100% {top:100%;}}
@keyframes liveDelay20 {0%{top:100%;}10%{top:100%;}20%{top:0;}40%{top:0;}50%{top:50%;}80%{top:50%;}90%{top:100%;}100% {top:100%;}}


/* initialize delay 20 animation */
.peekTile.delay20 {-webkit-animation: peekDelay20 10s infinite;-moz-animation: peekDelay20 10s infinite;-o-animation:peekDelay20 10s infinite;animation:peekDelay20 10s infinite;}
.mainTile.delay20 {-webkit-animation: liveDelay20 10s infinite;-moz-animation: liveDelay20 10s infinite;-o-animation:liveDelay20 10s infinite;animation:liveDelay20 10s infinite;}
