/* reset code */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article,aside, details,figcaption, figure, footer, header, hgroup,main, nav, section, summary{	margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 14px;font-family: inherit;vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
html,button,input,select,textarea {color: #38393a;font-family: "HelvNeuLt", Verdana, Arial;}
body {margin: 0;font-size: 100%;line-height: 1.2em;font-family: "HelvNeuLt", Verdana, Arial}
:focus{outline: 0;}
a{text-decoration:none;}
a:active,a:hover{outline: 0;}
dl,menu,ol,ul,dt,li,dd {margin: 0;	list-style:none; list-style-image:none;}
img {border: 0;-ms-interpolation-mode: bicubic;vertical-align:middle;}
form {margin: 0;}
button,input,select,textarea {font-size: 16px;margin: 0;vertical-align: top;*vertical-align: middle;}
input[type="checkbox"],input[type="radio"] {padding: 0;}
.hide {display: none;}
.invisible {visibility: hidden;}
.clearfix:before,.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

/* standard stuff code */
body{background:#f0f0f0;}
h1{font-size:20px; text-align:center; line-height:25px;}
.lumiaWrapper{background:url(../img/presentation/lumia-bg.png) no-repeat left top; padding: 150px 100px 150px 110px; height: 695px; width: 425px;margin:0 auto;}

/* basics */
img{width:100%;}

/* grid styling */
.tileGrid .liveTile{float:left; margin:5px; display:inline-block;}
.tileGrid {height: 695px;overflow:hidden}

/* tiles code */
.liveTile{position:relative;overflow:hidden;display:block;color:#fff; font-family:Segoe UI, Verdana, Arial;}
.liveTile{background:#13419F;}


.mainTile, .peekTile{width:inherit; height:inherit;overflow:hidden;position:absolute;}
.mainTile{left:0; top:0;}
.peekTile{left:0; top:0;}


/* define tile sizes */
.titleText {display: table-cell;font-size: 30px;height: 192px;line-height: 30px;margin: 10px 0;padding: 0 10px;vertical-align: bottom;width: 192px;z-index:1;}
.updateText{display:block; font-size:14px; padding:10px; height:192px; width:192px;}

/* medium tile */
.liveTile, [data-size="medium"]{width:202px; height:202px;}

/* small tile */
[data-size="small"]{width:96px; height:96px;}
[data-size="small"] .peekTile{display:none;}
[data-size="small"] .mainTile{margin-top:0;}



/* large tile */
[data-size="large"]{width:414px; height:202px;}
[data-size="large"] .mainTile, [data-size="large"] .peekTile{width:414px; height:202px;}


/* update tiles */
.updateValue {background:#333;border-radius: 15px;font-weight: bold;line-height: 25px;position: absolute;right: 5px;text-align: center;top: 5px;width: 25px;z-index: 5;}






/* keyframe animation  */

/* livePeek default */
@keyframes livePeek{0% {transform: translateY(-100%);}10%{transform: translateY(-100%);}20% {transform: translateY(-50%);}40%{transform: translateY(-50%);}50% {transform: translateY(0);}80% {transform: translateY(0);}90% {transform: translateY(-100%);}100%{transform: translateY(-100%);}}

/* livemain default */
@keyframes liveMain{0% {transform: translateY(0);}10% {transform: translateY(0);}20% {transform: translateY(50%);}40% {transform: translateY(50%);}50% {transform: translateY(100%);}80% {transform: translateY(100%);}90% {transform: translateY(0);}100% {transform: translateY(0);}}


/* initialize animation default */
.peekTile {animation:livePeek 10s ease infinite;}
.mainTile {animation:liveMain 10s ease infinite;}

[data-sync="minus50"] .peekTile {animation:livePeek 10s 2s ease infinite;}
[data-sync="minus50"] .mainTile {animation:liveMain 10s 2s ease infinite;}


[data-size="small"] .peekTile{animation:none;}
[data-size="small"] .mainTile{animation:none;}











